* {
    margin: 0;
}



body {
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/e4/46/de/e446deea1b48f9ba7bb4c1afe2d1e541.gif);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;

    @media (max-width: 768px) {
        .container {
            width: 95%;
            padding: 10px;
        }
    }

    header {
        background-color: purple;
        padding: 10px;
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0.01%;


        h1 {
            position: absolute;
            top: 22%;
            left: 9%;
            color: white;
            font-family: Arial;
        }

        img {
            padding: 10px;
            margin-left: 15px;
        }

        nav {
            float: right;

            .buttons {
                list-style: none;

                li {
                    display: inline-block;
                    font-family: Arial;
                    text-transform: uppercase;
                    margin: 20px;
                    padding: 10px;
                    top: 30%;

                    a {
                        color: white;
                        text-decoration: none;
                        transition: 0.5s all;
                    }

                    a:hover {
                        color: black;
                    }

                    .btn {
                        background-color: black;
                        padding: 5px 15px 5px 15px;
                        border-radius: 10px;
                    }

                    .btn:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }
        }
    }
    .main-contato {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-contato h1,
    .main-contato h2 {
        font-size: 3rem;
        color: white;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.2;
    }

    .main-contato h1::before {
        padding-top: 25%;
        content: "📩";
        display: block;
    }

    .main-contato h2::before {
        content: "✏";
    }

    .main-contato .form {
        width: 100%;
        max-width: 32rem;
        font-size: 1.125rem;
    }

    .main-contato .form label,
    .main-contato .form input,
    .main-contato .form textarea,
    .main-contato .form button {
        display: block;
        width: 100%;
    }

    .main-contato .form label {
        color: white;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
    
    .main-contato .form input,
    .main-contato .form textarea {
        font: inherit;
        padding: 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: border-color, box-shadow 0.2s;
    }
    
    .main-contato .form textarea {
        min-height: 13rem;
        resize: vertical;
    }
    
    .main-contato .form input:hover,
    .main-contato .form input:focus,
    .main-contato .form textarea:hover,
    .main-contato .form textarea:focus {
        outline: none;
        border-color: purple;
        box-shadow: 0 0 0 3px purple;
    }

    .main-contato .form button {
        display: block;
        padding: 1rem;
        background: purple;
        color: white;
        font: inherit;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
    }

    .main-contato .form button:hover,
    .main-contato .form button:focus {
        outline: none;
        background: darkviolet;
    }


    main {
        font-family: Arial, Helvetica, sans-serif;
        width: 1000px;
        margin: auto;

        .tabela {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            margin: 100px;
            padding: 10px;
        }

        .btn {
            font-family: Arial, Helvetica, sans-serif;
            background-color: purple;
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }

        .btn:hover {
            color: black;
            background-color: white;
        }

        p,
        h1 {
            color: white;
            margin: 30px;
        }

        h1 {
            font-size: 42px;
        }
    }

    h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin: 30px;
        padding-top: 50px;
    }

    #História {
        p {
            background-color: rgb(0, 0, 0);
            margin: 20px;
            padding: 2px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }


        .image {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 0 20px purple;
        }
    }

    #sobre {
        h2 {
            text-align: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            padding: 100px;
        }

        p {
            padding: 50px;
            color: white;
            text-align: left;

        }

        .container {
            display: grid;
            grid-column: initial;
            margin: 10px;
            align-items: center;

            .profile-pic {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin-bottom: 10px;
                border: 5px solid white;
            }

            .profile {
                position: relative;
                display: inline-block;
            }

            .profile-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 18px;
                font-weight: bold;
                color: white;
                background: rgba(0, 0, 0, 0.6);
                padding: 5px 10px;
                border-radius: 10px;
            }
        }

        .instagram {
            margin: 70px;
            text-align: center;
        }
    }
}

footer {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-color: purple;
    padding: 10px;
    align-items: center;

    .porco {
        width: 50px;
        height: 50px;

    }

    p {
        color: white;
    }
}

section {
    padding: 50px 0;
}

/* responsivo*/

@media screen and (max-width: 768px) {
    
}